.courses{
    // height: 100vh;
    background-image: url(./assets/course.jpg);
    background-size: cover;

    &_heading{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 70px;
        h1{
            color: white;
            font-size: 2.5rem;
            letter-spacing: 3px;
            font-weight: 500;
        }
        .line{
            border: 1px solid black;
            width: 220px;
            // margin-left: 20px ;
        }
    }
    &_content{
        display: flex;
        justify-content: center;
        // padding: 1.5rem 4rem;
        flex-wrap: wrap;

        .b1{
            background-color: rgba(255, 255, 255, 0.678);
            width: 320px;
            height: 180px;
            // margin-top: 40px;
            margin: 40px 42px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 0;
            flex-direction: column;
            .btn{
                color: white;
                background-color: #0087cbce;
                padding: .8rem 1.5rem;
                border-radius: 4px;
            }
        }
    }
}


@media (max-width:900px){
    .courses{

        &_heading{
            h1{
                font-size: 2rem;
            }
        }
    }
}

@media (max-width:600px){
    .courses{

        &_heading{
            line-height: 40px;
            h1{
                font-size: 1.5rem;
            }
            .line{
                border: 1px solid black;
                width: 120px;
                // margin-left: 20px ;
            }
        }
        &_content{
            .b1{
                width: 300px;
                height: 150px;
            }
        }
    }
}



@media (max-width:450px){
    .courses{

        &_heading{
            h1{
                font-size: 1rem;
                letter-spacing: 1px;
            }
        }
        &_content{
            .b1{
                width: 250px;
                height: 130px;
                h3{
                    font-size: 1rem;
                }
                .btn{
                    color: white;
                    background-color: #0087cbce;
                    padding: .5rem 1.2rem;
                    font-size: 0.8rem;
                    border-radius: 4px;
                }
            }
        }
    }
}