.footer{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 1rem;
        font-weight: 400;
        color: white;
        span{
            color: #FFC400;
        }
    }
}

@media (max-width: 550px){
    .footer{
        height: 80px;
        h2{
            font-size: 0.9rem;
            font-weight: 400;
        }
    }
}


@media (max-width: 380px){
    .footer{
        height: 60px;
        h2{
            font-size: 0.7rem;
            font-weight: 300;
        }
    }
}